header{
    background-color: darkred;
    padding: 3%;
}
main{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
footer{
    background-color:darkred
    padding 3%;
    font-size: 2rem;
}
@media only screen and (max-width:  800px) {
    footer{
        background-color: black;
    }
}
nav{
    background-color: crimson;
    padding: 2%;
}
.ronaldo{
    width: 33%;
    margin-left: auto;
    margin-right: auto;
}
body {
    background-color: #8C1F28;
}
h1{
    text-align: center;
    font-size: 2rem
}
.biografia{
    background-color: #8C1F28;
    font-size: 1.5rem;
    color: azure;
}
.tituloronaldo{
    text-align: center;
    font-size: 3rem
}
.linha{
    display: flex;
    flex-flow: row wrap;
}
.col-3{
    width: 25%;
}
.col-3 p{
    font-size: 1em;
    text-align: center;
}
.imggaleria{
    width: 90%;
}
.nome{
    text-align: center;
    color:grey
}
.fotoronaldo{
   text-align: center;
}
table{
    text-align: center;
    color: azure;
}
td,th {
    border: 5px dashed black ;
    padding: 1.5%;
    width: 26.66%;
}
.Recordes{
    text-align: center;
    font-size: 2rem
}
li{
    color: azure ;
}
.lista{
    font-size: 1.5rem; 
}
.Nassr{
    background-color: #8C1F28;
    font-size: 1.5rem;
    color: azure;
}
