header{
    background-color: darkred;
    padding: 1%;
    position: -webkit-sticky;
    position: sticky;
    top: 8px;
    z-index: 100;
}
main{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
footer{
    background-color:red;
    padding :3%;
    font-size: 2rem;
    bottom: 8px;
    padding: 0.5%;
}
@media only screen and (max-width:  800px) {
    footer{
        background-color:azure;
    }
}

html{
    scroll-behavior: smooth;
}

nav{
    padding: 1.2%;
    display: flex;
}
.ronaldo{
    width: 33%;
    margin-left: auto;
    margin-right: auto;
}
body {
    background-color: #8C1F28;
}
h1{
    text-align: center;
    font-size: 2rem;
    padding:2%
    
}
.biografia{
    background-color: #8C1F28;
    font-size: 1.5rem;
    color: azure;
    line-height: 1.3em;
    padding: 1%;
}
.titulobiografia{
    scroll-margin-top: 60px;
    padding-top: 60px;
}
.tituloronaldo{
    text-align: center;
    font-size: 3rem
}
.linha{
    display: flex;
    flex-flow: row wrap;
}
.col-3{
    width: 25%;
}
.col-3 p{
    font-size: 1em;
    text-align: center;
}
.imggaleria{
    width: 90%;
    padding: 3%;
}
.nome{
    text-align: center;
    color:black;
}
.fotoronaldo{
   text-align: center;
}
.tabelatt{
    scroll-margin-top: 60px;
    padding-top: 70px;
}
table{
    color: azure;
    margin-left: auto;
    margin-right: auto;
}
td,th {
    border: 5px dashed black ;
    padding: 1.5%;
    width: 26.66%;
    text-align: center;
}
.Recordes{
    text-align: center;
    font-size: 2rem;
    scroll-margin-top: 60px;
    padding-top: 60px;
}
li{
    color: azure ;
    padding: 1%;
    line-height: 1.3em;
}
.lista{
    font-size: 1.5rem; 
}
.Nassr{
    background-color: #8C1F28;
    font-size: 1.5rem;
    color: azure;
    line-height: 1.3em;
}
.h1cards{
    scroll-margin-top: 60px;
    padding-top: 60px;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2%;
}
.card {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
     background-color:rgb(33, 70, 33);
    padding: 20px;
    box-sizing: border-box;
}
@media screen and (max-width: 768px) {
    .card {
        width: calc(50% - 20px); 
    }
}
@media screen and (max-width: 480px) {
    .card {
        width: calc(100% - 20px); 
    
    }
   
}

.tituloscards{
    text-align: center;
    font-size: 1.5rem; 
}
a {
    color:black;
    text-decoration: none;
}
.logo{
    width: 25%;
    float: left;
    margin-bottom: 1%;
}

.imgrelativo{ 
    width: 100%;
    height:auto;
    margin-bottom: 2%;
}

.container{
   position: relative;
}

.absolute{
    position: absolute;
  top: 17px;
  left: 16px;
  font-size: 18px;
  background-color: aliceblue;
  padding: 0.6%;
  font-size: 1.2em;
}


.menu{
    color: azure;
    font-size: 1.7em;
    margin-right: 5%;
}

.menul{
    display: flex;

}

@media(max-width: 480px){
    .menu{
        color: azure;
        font-size: 1.0em;
        margin-right: 5%;

    }
}

.logoAL{
    width: 18%;
    float: left;
}
.pContato{
    text-align: center;
    font-size: 2em;
    color: azure;
    padding: 1.2%;
}
.quest1{
    font-size: 1.6em;
    margin-left: 35%;
}
.ContatoForm{
    margin-left: 35%; 
    width: 60%;
    padding: 1%;
}